svg(style="display: none")
  defs
    symbol#arrow(viewBox="0 0 10 11")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M7.60223 8.96992V5.0986L1.70024 11.0006L0 9.30033L5.94295 3.35742H1.98937V0.959614H7.60223V0.959473H10.0001V8.96992H7.60223Z")