@use "../../base/base.scss" as var;
@use "../../utils/mixins";

.progress__wrapper {
  position: fixed;
  bottom: var.$size-l;
  right: var.$size-m;

  font-size: var.$size-l;
  font-weight: bold;
}

@include mixins.mobile {
  .progress__wrapper {
    display: none;
  }
}
