include ../../partials/socials

header.header__wrapper
  .header__logo__wrapper 
    .logo__name.glitched(data-text="victor")
    .logo__lastname.glitched(data-text="greiveldinger")
  .header__copyright__wrapper 
    .birth.glitched(data-text="95") 
    .copyright.glitched(data-text="©25 - 35")
  .header__location 
    .city.glitched(data-text="[France] - Metz")
  .header__socials__wrapper
    +socialLink(
      "Instagram",
      "https://instagram.com/victor_greiveldinger?igsh=MTYzODk30Ho3cXU2Yg%3D%3D&utm_source=qr",
      "Profil Instagram de Victor Greiveldinger"
    )
    +socialLink(
      "Linkedin",
      "https://www.linkedin.com/in/victorgreiveldinger",
      "Profil LinkedIn de Victor Greiveldinger"
    )
    +socialLink(
      "Github",
      "https://github.com/VictorGreiveldingerHub",
      "Profil GitHub de Victor Greiveldinger"
    )