.navigation 
  .navigation__wrapper
    .navigation__item.active
      .navigation__title.glitched(data-text="Accueil" data-target=".hero")
    .navigation__item
      .navigation__title.glitched(data-text="Presentation" data-target=".description")
    .navigation__item
      .navigation__title.glitched(data-text="Formations" data-target=".formation")
    .navigation__item
      .navigation__title.glitched(data-text="Experiences" data-target=".experience")
    .navigation__item
      .navigation__title.glitched(data-text="Competences" data-target=".competence")
    .navigation__item
      .navigation__title.glitched(data-text="Contact" data-target=".contact")
    .progress__wrapper 
        .progress__value 0%