section.hero(role="region" aria-labelledby="hero__title")
  .hero__wrapper
    h1.hero__title.visually__hidden#hero__title Développeur créatif – Curriculum Vitae

    .hero__subtitles
      .hero__subtitle__main.glitched(aria-hidden="true", data-text="developpeur")
      .hero__subtitle__second.glitched(aria-hidden="true", data-text="creatif")

    .hero__subtitles
      .hero__subtitle__main.glitched(aria-hidden="true", data-text="curriculum vitae")
      .hero__subtitle__second.glitched(aria-hidden="true", data-text="resume")