.preloader
  .preloader__wrapper
    .preloader__text__wrapper
      .preloader__desktop.glitched(data-text="Preparation du curriculum vitae")
      .preloader__mobile.glitched(data-text="(Visitez ce site sur ordinateur pour une meilleure experience)")
    .progress__line
    .progress__shadow__line